.title{
  color: deeppink;
  font-family: "Bookman Old Style";
  font-size: 3vw;
  margin: 1vw;
}
.imgClass{
  position: relative;
  *{
    position: absolute;
  }
  *:nth-child(1){
    z-index: 1;
    color: coral;
    margin: 170px 0 0 90px;
  }
  *:nth-child(2){
    z-index: 1;
    color: coral;
    margin: 75px 0 0 38px;
  }
  *:nth-child(3){
    z-index: 1;
    color: coral;
    margin: 75px 0 0 145px;
  }
  *:nth-child(4){
    z-index: 1;
    color: coral;
    margin: 95px 0 0 102px;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.example-full-width{
  display: block;
  width: 15vw;
}
.card-size{
  width: max(35vw);
  margin: 1vw;
}
