
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Input Radius</mat-label>
      <input type="number" matInput [formControl]="PercentFormControl" placeholder="Input Percentage">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Input Integer</mat-label>
      <input type="number" matInput [formControl]="IntNumberFormControl" placeholder="Input Integer">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <input type="number" matInput [formControl]="ResultFormControl" placeholder="Input Result">
    </mat-form-field>
  </form>

<button (click)="calculate()">CALCULATE</button>



<div style="{{addDisplay}}">
  <h2>{{finalResult}}</h2>
</div>
