<h1 class="title">PERCENTAGE CALCULATOR</h1>

<mat-card style="width: 41vw; height: 15vh; margin-left: 2vw">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Input Percentage</mat-label>
      <input type="number" matInput [formControl]="PercentFormControl" placeholder="Input Percentage">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Input Integer</mat-label>
      <input type="number" matInput [formControl]="IntNumberFormControl" placeholder="Input Integer">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Input Result</mat-label>
      <input type="number" matInput [formControl]="ResultFormControl" placeholder="Input Result">
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button color="accent" (click)="calculate()">CALCULATE</button>
    <button style="margin-left: 1vw" mat-raised-button color="warn" (click)="reset()">RESET</button>
    <div style="margin-left: 220px; margin-top: -35px">
      <h2>{{finalResult}}</h2>
    </div>
  </div>
</mat-card>



