<h1 class="title">AUTO LEASE CALCULATOR</h1>
<mat-card style="margin-left: 2vw; width: 20vw; height: 70vh">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>AUTO PRICE</mat-label>
    <input matInput placeholder="$" value="25000">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>LEASE TERM</mat-label>
    <input matInput placeholder="months" value="36">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>DOWN PAYMENT</mat-label>
    <input matInput placeholder="$" value="3000">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>TRADE IN VALUE</mat-label>
    <input matInput placeholder="$" value="0">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>SALES TAX</mat-label>
    <input matInput placeholder="%" value="7">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>RESIDUAL VALUE</mat-label>
    <input matInput placeholder="$" value="12000">
  </mat-form-field>
  <br>
  <button style="margin-left: 2vw" mat-raised-button color="accent">CALCULATE</button>
  <button style="margin-left: 3vw" mat-raised-button color="warn">RESET</button>


</mat-card>
