.title{
  color: deeppink;
  font-family: "Bookman Old Style";
  font-size: 3vw;
  margin: 2vw;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  margin-left: 2vw;
  width: 15vw;
  display: block;
}
