a{
  text-decoration: none;
  color: #7015a5;
  font-size: 1.2vw;
}
.container{
  margin-top: 4vh;
  display: flex;
  justify-content: space-around;
  position: relative;
  mat-card{
    a:first-child{
      display: block;
      color: #924727FF;
      font-weight: bold;
    }
  }
  mat-card{
    width: 25vw;
    height: 50vh;
  }
}
