<div class="container">
  <mat-card class="card-3"><a routerLink="/main-fitness">FITNESS CALCULATORS</a>   <br>
    <a routerLink="/bmi">BMI Calculators</a>             <br><br>
    <a routerLink="/bmr">BMR Calculators</a>       <br><br>
    <a routerLink="/body-fat">Body Fat Calculators</a>  <br><br>
    <a routerLink="/ideal-weight">Ideal Weight Calculators</a>
  </mat-card>

  <mat-card class="card-1">
    <a routerLink="/main-financial">FINANCIAL CALCULATORS</a> <br>
    <a routerLink="/rent">Rent Calculators</a>            <br><br>
    <a routerLink="/auto-lease">Auto Lease Calculators</a>
  </mat-card>

  <mat-card class="card-2">
    <a routerLink="/main-math">MATH CALCULATORS</a> <br>
    <a routerLink="/triangle">Triangle Calculators</a>        <br><br>
    <a routerLink="/circle">Circle Calculators</a>    <br><br>
    <a routerLink="/percentage">Percentage Calculators</a>
  </mat-card>
</div>
