.card{
  width: 30vw;
  height: 30vh;
  margin: 2vw;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.title{
  color: deeppink;
  font-family: "Bookman Old Style";
  font-size: 3vw;
  margin: 2vw;
}
