<h1 class="title">RENT CALCULATOR</h1>
<mat-card class="card-height card-width">

  <form class="example-form">


    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Annual Rent</mat-label>
      <input [formControl]="RentFormControl" matInput placeholder="/year" value="500">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Monthly Debt</mat-label>
      <input type="number" [formControl]="DebtFormControl" matInput placeholder="%" value="5">
    </mat-form-field>


  </form>


  <button mat-raised-button (click)="calculate()" color="accent">Calculate</button>
  <button mat-raised-button (click)="reset()" color="warn">Reset</button>



</mat-card>


