<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Input Radius</mat-label>
    <input type="number" matInput [formControl]="radiusFormControl" placeholder="Input Radius">
  </mat-form-field>
</form>

<button (click)="calculate()">Calculate</button>
<button (click)="reset()">Clear</button> <br>

<div class="imgClass" style="{{addDisplay}}">
  <h2>{{radiusFormControl.value}}</h2>
  <img height="200px" src="../../../assets/circle.jpg" alt="triangle">
  <h2>The Diameter Is: {{diameter}}</h2><br>
  <h2>The perimeter is: {{perimeter}}</h2> <br>
  <h2>The Area Is: {{area}}</h2>

</div>
