.imgClass{
  margin-top: 15px;
  *{
    position: absolute;
  }
  *:nth-child(1){
    color: coral;
    z-index: 1;
    margin: 75px 0 0 135px;
  }
  *:nth-child(3){
    z-index: 1;
    margin: 210px 0 0 0;
  }
  *:nth-child(5){
    z-index: 1;
    margin: 220px 0 0 0;
  }
  *:nth-child(7){
    z-index: 1;
    margin: 230px 0 0 0;
  }
}
