<div class="card" style="display: flex; flex-direction: column;">

  <form style="border-radius: 15px; display: flex; justify-content: center;">
    <mat-form-field class="example-full-width" appearance="fill" style="margin: 5px 0 0 5px;">
      <mat-label>Input Weight</mat-label>
      <input type="number" matInput [formControl]="WeightFormControl" placeholder="Input your Weight">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" style="margin: 5px 0 0 5px;">
      <mat-label>Input Height</mat-label>
      <input type="number" matInput [formControl]="HeightFormControl" placeholder="Input your Height">
    </mat-form-field>
  </form>

  <div class="line" style="width: 100%; display: flex; justify-content: space-around; align-items: center">
    <div style="margin-top: -5px;">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button (click)="maleSelected()" value="Male">Male</mat-radio-button>
        <br> <br>
        <mat-radio-button (click)="femaleSelected()" value="Female">Female</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <mat-form-field class="example-full-width" appearance="fill" style="margin: 5px 0 0 5px;">
        <mat-label>Input Age</mat-label>
        <input type="number" matInput [formControl]="AgeFormControl" placeholder="Input your Age">
      </mat-form-field>
    </div>

  </div>
  <button style="width: 25%; align-self: center;" (click)="calculate()">CALCULATOR</button>
  {{output}}
</div>

