.card{
  width: 30vw;
  height: 30vh;
  background-color: #f3f3f3;
  border-radius: 15px;
  border: solid 2px #737373;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.example-full-width {
  width: 15vw;
}
